# Rust's output directory
target

# Cargo lock file
Cargo.lock

# Local settings
.soroban
.stellar

# macOS
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
Icon?
*.DS_Store

# IDE settings
.vscode/
